
.stanza .elastislide-horizontal {
  background-color: transparent;
  border-radius: 20px 20px 0 0;
}

.stanza .elastislide-horizontal.elastislide-loading {
  background-image: url(../images/loading_dark.gif);
}

.stanza .elastislide-carousel ul li a {
  padding: 2px;
}

.stanza .elastislide-carousel ul li a img {
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 2px #000;
}

.stanza .elastislide-wrapper nav span {
  background-color: #666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.stanza .image-preview img {
  border-radius: 0 0 20px 20px;
  max-width: 100%;
  display: block;
  cursor: pointer;
}

.image-preview {
  margin-bottom: 30px;
}

.stanza .elastislide-carousel ul li.current-img a img {
  box-shadow: 0 0 3px 2px rgba(62, 235, 255, 0.8);
}

